@model List<lab1.Models.DomainModel.Activity>;

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 2rem;">Activities</h1>


    <div class="text-left">
        <form asp-action="CreateActivityForm">
            <button type="submit" class="btn btn-primary" style="margin: 2px 3px;">Create new activity</button>
        </form>
    </div>


    <h3 style="margin-bottom: 1rem;">Activities</h3>

    <div class="btn-group" style="max-width: 50ch; margin-bottom: 2rem;">
        <table>
            <tr>
                <td>Activity code</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            @foreach (var activity in Model)
            {
                <tr>
                    <td>
                        <button class="btn btn-primary" style="margin: 2px 3px;">@activity.Code</button>
                    </td>
                    <td>
                        <form asp-action="ShowActivity">
                            <input type="hidden" name="code" value=@activity.Code>
                            <button type="submit" class="btn btn-primary" style="margin: 2px 3px;">Show</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteActivity">
                            <input type="hidden" name="code" value=@activity.Code>
                            <button type="submit" class="btn btn-primary" style="margin: 2px 3px;">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="UpdateActivityForm">
                            <input type="hidden" name="code" value=@activity.Code>
                            <button type="submit" class="btn btn-primary" style="margin: 2px 3px;">Update</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>
