@model lab1.Models.ViewModel.UsersWithMessage;
@{

  ViewData["Title"] = "NTR21";
  Layout = "_MainLayout";
  @* TODO: tutaj AuthLayout *@
}


<div class="text-center">
  <h1 class="display-4">Konrad Kulesza</h1>
  <p>NTR21Z - TimeReportingSystem</p>
</div>

<h3 style="margin-bottom: 1rem;">@Model.Message</h3>

<form asp-controller="Auth" asp-action="Login">
  <div>
    <label class="form-label">Login</label>
    <input name="login" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<br>
<div class="container">
  <div class="row">
    @foreach (var user in Model.Users)
    {
      <div class="col">
        @user.Login
      </div>
    }
  </div>
</div>

<br>
<br>
<br>

<form asp-controller="Auth" asp-action="Register" method="POST">
  <div>
    <label class="form-label">Register</label>
    <input name="Login" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
