@* @model lab1.Models.ViewModel.MonthWithActivites;

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 2rem;">Month: STYCZEN</h1>

    <h3 style="margin-bottom: 1rem;">Months</h3>
    <div class="btn-group" style="max-width: 50ch; margin-bottom: 2rem;">
        @foreach (var activity in Model.Activities)
        {
            <button class="btn btn-primary" style="margin: 2px 3px;">@activity</button>
        }
    </div>
</div> *@