<form asp-action="CreateProject">
    <div>
        <label>Project name</label>
        <input name="Name" class="form-control">
    </div>
    <div>
        <label>Project owner</label>
        <input name="Owner" class="form-control">
    </div>
    <div>
        <label>Is active</label>
        <input value="true" type="checkbox" name="IsActive" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
