<form asp-action="CreateProject">
    <div>
        <label>Project name</label>
        <input name="projectName" class="form-control">
    </div>
    <div>
        <label>Is active</label>
        <input value="true" type="checkbox" name="isActive" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<br><br><br>

<form asp-action="ProjectSummaries" style="width: 30%;">
    <button type="submit" class="btn btn-primary">Back</button>
</form>
