@model List<lab1.Models.DomainModel.Project>;

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 2rem;">Projects</h1>


    <div class="text-left">
        <form asp-action="CreateProjectForm">
            <button type="submit" class="btn btn-primary" style="margin: 2px 3px;">Create new project</button>
        </form>
    </div>

    <h3 style="margin-bottom: 1rem;">Projects.</h3>
    <div class="btn-group" style="max-width: 50ch; margin-bottom: 2rem;">
        <table>
            <tr>
                <td>Project name</td>
                <td>Set inactive</td>
            </tr>
            @foreach (var project in Model)
            {
                <tr>
                    <div>
                        <td>
                            <button class="btn btn-primary" style="margin: 2px 3px;">@project.Name</button>
                        </td>
                        <td>
                            @if (@project.IsActive)
                            {
                                <form asp-action="MarkProjectNotActive">
                                    <input type="hidden" name="projectName" value=@project.Name>
                                    <button type="submit" class="btn btn-primary" style="margin: 2px 3px;">Set inactive</button>
                                </form>
                            }
                            else
                            {
                                <div> nothin here :)</div>
                            }
                        </td>
                    </div>
                </tr>
            }
        </table>
    </div>



</div>